# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Docker files
**/.dockerignore
**/docker-compose*
**/compose.y*ml
**/Dockerfile*

# Python
**/__pycache__/
dist/

# Environments
**/.venv
**/.env
**/.env.example

# Git
**/.git
**/.gitignore
**/.gitattributes
.github/

# Testing & Coverage
tests/
.coverage.*
.coverage

# IDE & Editor
.vscode/
.zed/

# Documentation
/docs
LICENSE
README.md

# Logs
**/logs
**/*.log

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# MacOS
**/.DS_Store
